html {
  overflow-y: auto
}

.fadeInOut-quick-enter-active, .fadeInOut-enter-active {
  transition: opacity .25s
}

.fadeInOut-leave-active {
  transition: opacity .2s
}

.fadeInOut-quick-enter, .fadeInOut-quick-leave-to, .fadeInOut-enter, .fadeInOut-leave-to {
  opacity: 0
}

#ressource_stack {
  flex-direction: column;
}

.air {
  margin: 2em
}

.no-wrap {
  flex: 0 0 auto;
}