html {
    overflow-y: auto
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.drag {
    background-color: #E9F1F9;
    border: #7FABDC 2px dashed;
    border-radius: 5px
}

.top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

.tiny {
    width: 1.5em;
}

.rounded {
    border-radius: 0.5em;
}

.no-photo {
    border: 1px dashed;
}

.scene {
    width: 420px;
    height: 300px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    position: relative;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card__face--front {
}

.card__face--back {
    transform: rotateY(180deg);
}

a {
    text-decoration: none;
}

.bold-font {
    font-weight: bold;
}

.label-command {
    position: absolute;
    top: 0;
    text-align: right;
    transform: rotate(-45deg);
    transform-origin: right;
    width: 130px;
    margin-left: -70px;
}

.chars-width-3 {
    width: 3em
}

.chars-width-8 {
    width: 8em
}

.chars-width-5 {
    width: 5em
}

.chars-width-15 {
    width: 15em
}

.logo-petit {
    height: 1.5em;
    width: 1.5em
}

.logo-moyen {
    height: 2em;
    width: 2em
}

.logo {
    height: 2.5em;
    width: 2.5em;
}

.logo-big {
    height: 3em;
    width: 3em;
}

.voice {
    background: url(/img/voice.svg) no-repeat center;
}

.planet {
    background: url(/img/planet.svg) no-repeat center;
}

.roots {
    background: url(/img/scopeRoots.svg) no-repeat center bottom;
}
.branches {
    background: url(/img/scopeBranch.svg) no-repeat center bottom;
}

.scope-tree {
    background: url(/img/scopeTree.svg) no-repeat center bottom;
}

.facet {
    background: url(/img/facet.svg) no-repeat center;
}

.description {
    background: url(/img/description.svg) no-repeat center;
}

.game {
    background: url(/img/manette.svg) no-repeat center;
}

.balance {
    background: url(/img/balance.svg) no-repeat center;
}

.carton {
    background: url(/img/carton.svg) no-repeat center;
}

.root-add {
    background: url(/img/rootAdd.svg) no-repeat center;
}

.branch-add {
    background: url(/img/branchAdd.svg) no-repeat center;
}

.blueforest {
    background: url(/img/logo.svg) no-repeat center;
}

.planet-add {
    background: url(/img/planetadd.svg) no-repeat center;
}

.facet-add {
    background: url(/img/facetAdder.svg) no-repeat center;
}

.enough-high {
    min-height: 50em
}

.enough-high-small {
    min-height: 20em
}

.not-too-small {
    min-width: 12em;
    min-height: 12em;
}

.not-too-large {
    max-width: 700px;
}

.not-too-third {
    max-width: 200px;
}

.not-too-half {
    max-width: 350px;
}

.align {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 100%;
}

.theme--light .v-breadcrumbs li:last-child .v-breadcrumbs__item {
    font-weight: bold;
    font-size: large;
    color: #1565c0;
}

.sl {
    padding-right: 0.3em
}

.corner {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

.icon-line {
    position: relative;
    top: 3px;
    margin-left: 0em;
}

.slide-left-enter-active {
    transition: all .2s ease;
}

.slide-left-leave-active {
    transition: all .2s ease;
}

.slide-left-enter {
    transform: translateX(-10px);
    opacity: 0;
}

.slide-left-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.slide-right-enter-active {
    transition: all .2s ease;
}

.slide-right-leave-active {
    transition: all .2s ease;
}

.slide-right-enter {
    transform: translateX(10px);
    opacity: 0;
}

.slide-right-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}


.slide-fade-enter-active {
    transition: all .2s ease;
}

.slide-fade-leave-active {
    transition: all .2s ease;
}

.slide-fade-enter {
    transform: translateY(-10px);
    opacity: 0;
}

.slide-fade-simple-leave-to {
    opacity: 0;
}

.slide-fade-simple-enter-active {
    transition: all .1s ease;
}

.slide-fade-simple-leave-active {
    transition: all .1s ease;
}

.slide-fade-simple-enter {
    opacity: 0;
}

.slide-fade-simple-leave-to {
    opacity: 0;
}


.slide-left-right-enter-active {
    transition: all .2s ease;
}

.slide-left-right-leave-active {
    transition: all .2s ease;
}

.slide-left-right-enter {
    transform: translateX(-450px);
    opacity: 0;
}

.slide-left-right-leave-to {
    transform: translateX(-450px);
    opacity: 0;
}

.hand {
    cursor: pointer
}

.loader {
    width: 1.8em;
    height: 1.8em;
}


.list-complete-item {
    transition: all 0.3s;
}

.list-complete-enter, .list-complete-leave-to {
    opacity: 0;
    /*transform: translateY(30px);*/
}

.list-complete-leave-active {
    position: absolute;
}

.slide-y-enter-active {
    transition: all .2s;
}

.slide-y-enter, .slide-y-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

.expand-enter-active,
.expand-leave-active {
    transition: all 0.3s ease;
    overflow: hidden;
}

.expand-enter,
.expand-leave-to {
    height: 0;
    opacity: 0;
    transform: translateY(-30px);
}

.flip-list-move {
    transition: transform 0.3s;
}


.chosenClass {
    opacity: 0;
}

.dragClass {
    opacity: 1;
}


.slide-bottom-enter-active {
    transition: all .2s ease;
}

.slide-bottom-leave-active {
    transition: all .2s ease;
}

.slide-bottom-enter {
    transform: translateY(-10px);
    opacity: 0;
}

.slide-bottom-leave-to {
    transform: translateY(10px);
    opacity: 0;
}

.very-height {
    height: 105%
}

.size-enter-active {
    transition: all .1s ease;
}

.size-leave-active {
    transition: all .1s ease-in;
}

.size-enter {
    transform: scale(0.5);
    /*opacity: 0;*/
}

.size-leave-to {
    transform: scale(0.5);
    /*opacity: 0;*/
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.disabled {
    opacity: 0.4;
}